<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị hệ thống</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Đặt cấu trúc chính */
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .d-flex {
            display: flex;
        }

        .flex-column {
            flex-direction: column;
        }

        .min-vh-100 {
            min-height: 100vh;
        }

        .flex-grow-1 {
            flex-grow: 1;
        }

        footer {
            background-color: #f8f9fa;
            border-top: 1px solid #dee2e6;
        }
        .active {
            background-color: #007bff !important;
            color: white !important;
        }
    </style>
</head>

<body>
    <div class="d-flex flex-column min-vh-100">
        <!-- Header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/{{role}}">Prestige Travels</a>
                    {{#if (eq role 'admin')}}
                    <div class="navbar-nav">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                    {{else}}
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tour">Tour</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Tìm kiếm tour..." aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit">Tìm kiếm</button>
                        </form>
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Đăng ký</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                    
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </nav>
        </header>
        {{#if (eq role 'admin')}}
        <div class="container-fluid">
            <div class="row">
            <!-- Menu bên trái -->
            <div class="col-md-3 bg-light vh-100">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/accounts">Quản lý tài
                            khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/approvals">Xét duyệt dịch
                            vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/systems">Hoạt động hệ
                            thống</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/reports">Phân tích và báo
                            cáo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/errors">Quản lý lỗi hệ
                            thống</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/posts">Quản lý bài viết</a>
                    </li>
            
            
                </ul>
            </div>
                <!-- Nội dung bên phải -->
                <div class="col-md-9">
                    <div class="p-4">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <main class="flex-grow-1 py-3">
            {{{body}}}
        </main>
        {{/if}}
        <!-- Footer -->
        <footer class="bg-light border-top py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-column">
                        <h3>Du lịch trong nước</h3>
                        <ul>
                            <li><a href="#">Hà Nội</a></li>
                            <li><a href="#">Hạ Long</a></li>
                            <li><a href="#">Đà Lạt</a></li>
                            <li><a href="#">Phú Quốc</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-column">
                        <h3>Du lịch nước ngoài</h3>
                        <ul>
                            <li><a href="#">Trung Quốc</a></li>
                            <li><a href="#">Thái Lan</a></li>
                            <li><a href="#">Hàn Quốc</a></li>
                            <li><a href="#">Singapore</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-column">
                        <h3>Dòng tour</h3>
                        <ul>
                            <li><a href="#">Cao cấp</a></li>
                            <li><a href="#">Tiết kiệm</a></li>
                            <li><a href="#">Tiêu chuẩn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-column">
                        <h3>Liên hệ</h3>
                        <p>Trường ĐH KHTN</p>
                        <p>(+84 12) 345 6789</p>
                        <p>PrestigeTravels@gmail.com</p>
                    </div>
                </div>
                <div class="footer-bottom text-center mt-3">
                    &copy; 2024 Prestige Travels. All rights reserved.
                </div>
            </div>
        </footer>
    </div>

    <!-- Link CSS và JS của Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <script>
         document.addEventListener('DOMContentLoaded', function () {
                var currentUrl = window.location.pathname;
                var links = document.querySelectorAll('.nav-link');
                links.forEach(function (link) {
                    if (link.getAttribute('href') === currentUrl) {
                        link.classList.add('active');
                    }
                });
            });
    </script>
</body>
</html>